.user {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: rgb(230, 150, 46);
}

.user-name {
	font-size: 1.5em;
	color: rgb(31, 30, 30);
	text-align: center;
}