.navbar {
	width: 100%;
	color:  rgb(175, 33, 33);
	padding: 1.5em;
	display: flex;
	position: sticky;
	top: 0;
	z-index: 10;
	background-color: rgb(20, 39, 155);
}
.navbar-logo {
	font-family: Bungee, sans-serif;
	font-size: 25px;
}

.navbar-menu {
	margin-left: auto;
	text-align: center;
}

.write-new-tweet {
	color:  rgb(175, 33, 33);
	text-decoration: none;
}
